body{
background-color: purple;
width:1000px; 
margin: 0 auto;
}

img {
margin-right: auto;
margin-left: auto;
}

h1 { 

	color: orange;
	font-family: Georgia;
	text-align: center;
	text-decoration: underline;
		margin: 0; 
		font-size: 1.8em;
}

h2 {
	font-family: Helvetica;
	color: #CC66FF;
	padding: 5px;
	margin: 0;
	text-align: center;
}

h3{
	color: white;
	font-size: 1.4em;
	text-align: center;
}

h4{
	
	color: yellow;
	font-size: .8em;
	text-align: center;

}


p{
color: #FF00CC;
font-size: 22px;
text-align: center;
margin-left: auto;
margin-right: auto;
}

li {
	color: white;
	text-align:left;
    font-size: 1.5em;
}
 
img {
	padding-top: 15px;
	

}

aside {
       width: 77px;
       float: left;
     }



	h1 {
		width: 100%;
	}


article {
	margin: 240px 0 0 0;
  }
}

@media (max-width: 320px) {
	.container {
		width: 100%;
		margin:0;
	}
#navig {list-style: none; background-color: white; 
	font-weight:bold; font-size: larger; text-align: center;
	 }
#navig li {display: inline; margin: 71px}

